@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
    background: #232323;
    color: #e6e6e6;
	  padding-bottom: 500px;
}

body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    color: inherit;
    font-size: 20px;
    background: inherit;
}

footer {
	clear: both;
	text-align: center;
	padding-top: 2em;
}

a {
	color: lime;
	text-decoration-color: darkgreen;
    	text-shadow: 1px 1px darkgreen;
}

a:hover {
	color: red;
	text-decoration-color: darkred;
	text-shadow: 1px 1px darkred;
}
